.addition-item__name {
  margin: 0;
  grid-area: name;
}

.addition-item__addition-description {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    grid-area: desc;
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 50px;
    justify-self: end;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
  }
}

.addition-item__description-value {
  margin: 0;
}

.addition-item__button {
  grid-area: button;
}
