.button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  border: none;
  text-align: center;
}

.button--primary {
  background-color: $accent-color;
  color: $light-color;

  &:is(:hover, :active, :focus) {
    background-color: $accent-darken;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--secondary {
  color: $dark-grey;

  &:is(:hover, :active) {
    background-color: $special-grey2;
  }
}
