.contacts__site-name {
  font-size: 24px;
  line-height: 24px;
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts__link {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: $dark-grey;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }

  &:hover .contacts__icon {
    color: $accent-color;
  }

  &:active .contacts__icon {
    color: $accent-color;
  }
}

.contacts__icon {
  color: #666666;
}
