.instruction__wrapper {
  width: 280px;
  margin: 0 auto;

  &::after {
    content: "";
    display: none;
    border: 1px solid $basic-grey;

    @media (min-width: $tablet-width) {
      display: block;
      width: 100%;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.instruction__title {
  font-size: 36px;
  line-height: 26px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.instruction__list {
  padding: 45px 0 50px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 35px 0 45px;
    justify-content: space-between;
    row-gap: 37px;
    counter-reset: instruction;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding: 0;
    padding-top: 75px;
  }
}

.instruction__item {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  counter-increment: instruction;

  & > * {
    position: relative;
    z-index: 1;
  }

  &::before {
    content: " ";
    display: block;
    width: 60px;
    height: 60px;
    padding: 14px 15px;
    box-sizing: border-box;
    background-color: $accent-color;

    @media (min-width: $tablet-width) {
      grid-row: 1;
      width: 80px;
      height: 80px;
    }
  }

  &::after {
    display: none;
    content: counter(instruction);
    width: 112px;
    height: 280px;
    position: absolute;
    right: 4px;
    top: -40px;
    font-family: "Oswald", sans-serif;
    font-size: 280px;
    line-height: 280px;
    font-weight: 400;
    color: $basic-grey;
    z-index: 0;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }


  @media (min-width: $tablet-width) {
    width: 230px;
    min-height: 280px;
    flex-direction: column;
    gap: 31px;
  }
}
