.page-container {
  margin: 0;
}

.page-container__title {
  margin: 0 auto;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $tablet-width) {
    width: 1220px;
  }
}
