.page-header__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 14px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    width: 704px;
    padding: 25px 0;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0;
    margin: 0 auto;
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
  }
}

.page-header__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 190px;
  text-decoration: none;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    width: 174px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}

.page-header__navigation-toggle {
  padding: 0;
  padding-right: 20px;
  margin: 0;
  height: 24px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__navigation-icon--close {
  display: block;
}

.page-header__navigation-icon--open {
  display: none;
}

.page-header__navigation-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 439px;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    width: 500px;
  }
}
