.programs-item {
  background-color: $basic-grey;
}

.programs-item__title {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.programs-item__description {
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.programs-item__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 10px;
    margin-left: 15px;
    background: url("../../icons/arrow.svg") no-repeat center;
    transition: transform 0.3s linear;
    transform-origin: left center;
  }

  &:is(:hover, :focus, :focus-visible)::after {
    transform: scaleX(1.35);
  }

  &:active {
    opacity: 0.3;
  }
}

.programs-item--slim {
  background-image: url("../../icons/cat-slim.svg");
  background-repeat: no-repeat;
  background-size: 50px 53px;

  @media (min-width: $tablet-width) {
    background-size: 200px 211px;
  }

  @media (min-width: $desktop-width) {
    background-size: 100px 106px;
  }
}

.programs-item--pro {
  background-image: url("../../icons/cat-pro.svg");
  background-repeat: no-repeat;
  background-size: 67px 50px;

  @media (min-width: $tablet-width) {
    background-size: 268px 200px;
  }

  @media (min-width: $desktop-width) {
    background-size: 134px 100px;
  }
}
