.site-list {
  color: #000000;
  background-color: $light-color;
  position: absolute;
  z-index: 5;
  transition: opacity 0.3s ease;

  @media (min-width: $tablet-width) {
    position: static;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    color: $light-color;
  }
}

.site-list--inner {
  color: #000000;
}

.site-list__link {
  color: inherit;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
  padding: 23px 0;
  border-top: 1px solid #d9d9d9;
  text-align: center;

  &:hover {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
  }
}

.site-list__link--current {
  @media (min-width: $tablet-width) {
    padding-bottom: 10px;
    border-bottom: 1px solid $accent-color;
  }

  @media (min-width: $desktop-width) {
    border-color: #ffffff;
  }
}

.site-list__link--inner {
  color: #000000;
}

.site-list__link--inner-current {
  @media (min-width: $tablet-width) {
    padding-bottom: 10px;
    border-bottom: 1px solid $accent-color;
  }
}

.site-list li:last-child .site-list__link {
  border-bottom: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    border: none;
  }
}
